# ========================
# Maven
# ========================
/target/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Spring Boot config（敏感）
# ========================
application.yml
application-*.yml

# ========================
# IDE

# ========================
.idea/

# ========================
# temp
# ========================
/tmp/
/out/

# ========================
# package
# ========================
*.jar
*.war